language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"
  - "pypy3"
install:
  - pip install --upgrade pytest>=3.0.0
  - pip install tox-travis codecov
script: tox
after_success:
  - codecov
